.about {
    @include setFlex(flex-start, flex-start);
    width: 100vw;
    height: 75vh;

    &>div:first-child {
        @include setFlex(center, center);
        width: 50%;
        height: 100%;

        img {
            width: 60%;
            height: auto;
            opacity: 0.6;
        }
    }

    &>div:last-child {
        @include setFlex(center, center);
        width: 50%;
        height: 100%;

        &>div {
            @include setFlex(flex-start, flex-start, column);
            width: 80%;
            height: 45vh;
        }
    }
}

.about-title {
    @include setFlex(flex-end, flex-start);
    width: 100%;
    height: 20%;

    p {
        font-size: 4.85rem;
        font-weight: 480;
        letter-spacing: 1px;
        color: $color2;
        opacity: 0.75;
        margin-bottom: 1.5%;
    }
}

.about-content {
    width: 100%;
    height: 60%;

    p {
        font-size: 2.15rem;
        font-weight: 280;
        color: $mainFontCol;
    }
}

.bottom-div {
    @include setFlex(flex-end, flex-end);
    width: 100%;
    height: 20%;

    p {
        font-size: 2.2rem;
        color: $mainFontCol;
        cursor: pointer;
    }

    span {
        zoom: 1.8;
        margin-left: 3%;
        color: $color2;
        opacity: 0.7;
    }

    span:hover {
        cursor: pointer;
        color: lighten($color: $color2, $amount: 10%);
    }
}