.acServices {
    @include setFlex(center, flex-start, column);
    width: 100vw;
    height: 100vh;
    background-color: $color2;

    &>div:first-child {
        @include setFlex(flex-end, center);
        width: 100%;
        height: 18%;

        p {
            font-size: 4.85rem;
            font-weight: 480;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: 82%;

    &>div {
        @include setFlex(center, flex-start, row);
        width: 64rem;
        height: 29.5rem;

        &>div:first-child {
            @include setFlex(center, center);
            width: 25%;
            height: 100%;

            &>div {
                @include setFlex(center, center);
                width: 8rem;
                height: 8rem;
                background-color: #ffffff;
                border-radius: 50%;

                span {
                    color: $color2;
                    zoom: 2.2;
                }
            }
        }

        &>div:nth-child(2) {
            @include setFlex(center, center, column);
            width: 70%;
            height: 100%;
            padding-top: 5%;

            &>div:first-child {
                @include setFlex(flex-end, flex-start);
                width: 100%;
                height: 20%;

                p {
                    font-size: 2.25rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: #3B4A94;
                }
            }

            &>div:last-child {
                width: 100%;
                height: 40%;
                padding-right: 5%;

                p {
                    font-size: 1.65rem;
                    font-weight: 250;
                    text-align: left;
                    color: #ffffff;
                }
            }
        }
    }
}