* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    font-family: 'Prompt', sans-serif;
    text-rendering: optimizeLegibility;
}

.app {
    @include setFlex(flex-start, flex-start, column);
    width: 100vw;
    height: auto;
}

a {
    text-decoration: none;
}