$color1:#23359b;
$color2: #6AB12A;
$facebookColor: #4267B2;
$fontColorBlack: #222326;
$mainBlue: #24568E;
$servicesBg: #F4FBFA;
$mainFontCol: #222326;

@mixin setFlex($align: flex-start, $justify: flex-start, $direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}