.footer {
    @include setFlex(center, flex-start, column);
    width: 100%;
    height: 75vh;
    background-color: #6C757D; // temporary color

    &>div:first-child {

        @include setFlex(center, center, row);
        width: 100%;
        height: 85%;

        &>div {
            width: 21.5%;
            height: 70%;

            &>div:first-child {
                @include setFlex(center, flex-start);
                width: 100%;
                height: 15%;

                p {
                    font-size: 2rem;
                    font-weight: 600;
                    color: #ffffff;
                }
            }

            &>div:nth-child(2) {
                @include setFlex(center, center);
                width: 100%;
                height: 55%;

                p {
                    font-size: 1.15rem;
                    color: #ffffff;
                    text-align: center;
                }
            }
        }

        &>div:nth-child(1) {
            width: 25%;

            &>div:first-child {
                @include setFlex(flex-end, flex-start);

                p {
                    font-size: 2.8rem;
                    font-weight: 600;
                    color: #ffffff;
                    letter-spacing: 1px;
                }
            }

            &>div:nth-child(2) {
                @include setFlex(flex-start, flex-start);
                width: 100%;
                height: 55%;
                padding: 2rem 4rem 0 0;

                p {
                    font-size: 1.45rem;
                    font-weight: 250;
                    color: #ffffff;
                    text-align: left;
                    line-break: 2.5px;
                }
            }

            &>div:nth-child(3) {
                width: 100%;
                height: auto;
                padding-top: 2%;

                img {
                    width: 40%;
                    height: auto;
                    border-radius: 0.5rem;
                }
            }

        }

        &>div:nth-child(2) {

            &>div:nth-child(2) {
                @include setFlex(flex-start, flex-start, column);
                padding-top: 7%;

                p {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }
        }

        &>div:nth-child(3) {

            &>div:last-child {
                @include setFlex(center, flex-start, column);

                &>div {
                    @include setFlex(center, flex-start);
                    width: 100%;
                    height: 33.33%;

                    span {
                        zoom: 1.3;
                        color: #ffffff;
                        margin-right: 9%;
                    }

                    p {
                        font-size: 1.4rem;
                        font-weight: 250;
                        letter-spacing: 1px;
                        line-height: 13px;
                    }
                }

                &>div:first-child {
                    padding-right: 11.5%;
                }
            }
        }

        &>div:nth-child(4) {

            &>div:nth-child(2) {
                @include setFlex(flex-start, flex-start, column);
                width: 100%;
                height: 30%;

                p:first-child {
                    font-size: 1.55rem;
                    font-weight: 450;
                    letter-spacing: 1px;
                    margin-top: 3.5%;
                }

                p:last-child {
                    font-size: 1.35rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin: 4% 0 0 18%;
                }
            }

            &>div:last-child {
                @include setFlex(center, flex-end);
                width: 100%;
                height: 25%;
                padding-right: 5%;

                span:first-child {
                    color: darken($color: $facebookColor, $amount: 10%);
                    zoom: 2.2;
                    margin-right: 5%;
                    cursor: pointer;
                }

                span:last-child {
                    color: $color2;
                    zoom: 2.1;
                    cursor: pointer;

                }
            }
        }
    }

    &>div:last-child {
        @include setFlex(center, center);
        width: 100%;
        height: 15%;

        p {
            font-size: 1.35rem;
            color: #ffffff;
            font-weight: 280;
        }
    }
}