.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 0.5% 0.5% 0 0.5%;

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 49.8%;
        height: auto;

        &>div {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-bottom: 1%;
            padding-bottom: 1.5%;
            overflow: hidden;

            img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 98%;
                height: 98%;
                position: relative;
                opacity: 0.7;
                -webkit-transform: scale(1.15);
                -ms-transform: scale(1.15);
                transform: scale(1.15);
                -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
                transition: transform 0.5s, opacity 0.5s;
            }

            img:hover {
                opacity: 1;
                -webkit-transform: scale(1.03);
                -ms-transform: scale(1.03);
                transform: scale(1.03);
            }

            p {
                position: absolute;
                color: $color1;
                font-size: 3rem;
                font-weight: bold;
            }
        }

    }


}