.header1 {
    @include setFlex(center, flex-start, column);
    width: 100vw;
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background-image: -webkit-linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url('../pictures/header-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.header2 {
    @include setFlex(center, flex-start, column);
    width: 100vw;
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background-image: -webkit-linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.6)), url('../pictures/installing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header3 {
    @include setFlex(center, flex-start, column);
    width: 100vw;
    height: 100vh;
    padding: 0 10vw 0 10vw;
    background-image: -webkit-linear-gradient(rgba(10, 10, 10, 0.6), rgba(145, 138, 138, 0.6)), url('../pictures/radiators.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}