.letterHead {
    width: 85rem;
    height: 30rem;

    &>div:first-child {
        @include setFlex(flex-start, center, column);
        width: 90%;
        height: 80%;

        p:first-child {
            font-size: 5.5rem;
            font-weight: 510;
            letter-spacing: 1.5px;
            color: #ffffff;
        }

        p:last-child {
            font-size: 3rem;
            font-weight: 480;
            letter-spacing: 1px;
            color: #ffffff;
        }
    }
}