.navigationBar {
    @include setFlex();
    width: 80vw;
    height: 8rem;
    border-radius: 0 0 0.9rem 0.9rem;
    padding: 0 3rem 0 5rem;
    background-color: lighten($color: rgba(255, 255, 255, 0.5), $amount: 20%);
    margin-bottom: 15%;


    &>div {
        @include setFlex(center, flex-start);
        width: 12rem;
        height: 100%;

        &>p {
            font-size: 1.85rem;
            color: $fontColorBlack;
        }

        a {
            font-size: 3rem;
            color: $fontColorBlack;
        }

        &>p:hover,
        a:hover {
            color: #538f1fb2;
            cursor: pointer;
        }
    }

    &>div:first-child {
        @include setFlex(center, flex-start);
        width: 12rem;
        height: 100%;

        &>p {
            font-size: 1.85rem;
            color: $color1;

        }

        &>p:hover {
            color: darken($color:$color1, $amount: 10%);
        }
    }

    .icon {
        @include setFlex(center, center);
        width: 8rem;
        height: 100%;
    }

    .facebook {
        span {
            zoom: 1.15;
            color: $facebookColor;
        }

        span:hover {
            cursor: pointer;
        }
    }

    .ac_unit {
        span {
            zoom: 1.15;
            color: #538f1fb2;
        }

        span:hover {
            cursor: pointer;
        }
    }

}