.prof-services {
    @include setFlex(center, flex-start, column);
    width: 100%;
    height: 100vh;
    background-color: $mainBlue;

    &>div:first-child {
        @include setFlex(flex-end, center);
        width: 100%;
        height: 18%;

        p {
            font-size: 4.85rem;
            font-weight: 480;
            letter-spacing: 1px;
            color: $color2;
            opacity: 0.75;
        }
    }

    &>div:last-child {
        @include setFlex(center, space-around);
        width: 100%;
        height: 82%;
        padding: 0 5.5% 5% 5.5%;

        &>div {
            width: 35rem;
            height: 45rem;
            border-radius: 0.5rem;
            background-color: $servicesBg;

            &>div:first-child {
                @include setFlex(center, center);
                width: 100%;
                height: 30%;

                span {
                    zoom: 2.15;
                    color: $color2;
                    opacity: 0.75;
                }
            }

            &>div:nth-child(2) {
                @include setFlex(flex-start, center);
                width: 100%;
                height: 15%;

                p {
                    font-size: 1.6rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    color: $mainFontCol;
                }
            }

            &>div:last-child {
                @include setFlex(flex-start, center);
                width: 100%;
                height: 65%;
                padding: 0% 5% 0% 5%;

                p {
                    font-size: 1.5rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    color: #6b6a6a;
                    text-align: center;
                }
            }
        }
    }
}