.upperSection {
    @include setFlex(flex-start, space-between);
    width: 80vw;
    height: 15vh;
    padding-left: 3%;
    background-color: lighten($color: rgba(255, 255, 255, 0.5), $amount: 20%);

    &>div:first-child {
        @include setFlex(center, flex-start);
        width: 12%;
        height: 100%;

        img {
            width: auto;
            height: 6rem;
        }
    }

    &>div:last-child {
        @include setFlex();
        width: 25%;
        height: 100%;
    }
}

.time-icon {
    @include setFlex(center, center);
    width: 20%;
    height: 100%;
    margin-left: 5.5%;

    span {
        zoom: 1.5;
        color: #538f1fb2;
    }
}

.text {
    @include setFlex(flex-start, center, column);
    width: 55%;
    height: 100%;
    padding-left: 5%;


    p {
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 1px;
        color: $fontColorBlack;
    }
}